@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #9F9F9F;
}

.container {
    width: 870px;
    margin: 0 auto;
    padding: 33px;
    border-radius: 5px;
}

.header {
    background-color: #562EFF;
    height: 94px;
    width: 100%;
    margin-bottom: 21px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 936px;
    margin: 0 auto;
    padding-top: 22px;
}

.logo {
    display: flex;
    align-items: center;
    width: 40px;
    height: 50px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.logo h3 {
    color: #ffff;
    margin-left: 16px;
}

ul {
    display: flex;
    align-items: center;
}
ul li {
    list-style: none;
    margin-right: 36px;
}

li a {
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
}

.Nav-manu {
    display: flex;
    align-items: center;
}

.Nav-manu img {
    width: 50px;
    height: 50px;
}

/* Top Player CSS */
.top-section {
    background-color: #ffff;
}

.top-title {
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player-img {
    height: 56px;
    width: 56px;
}

.player-img img {
    height: 100%;
    width: 100%;
}

.player-name {
    padding-left: 16px;
    font-size: 18px;
    font-weight: 500;
}

hr {
    width: 807px;
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Top blogs CSS */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog-img {
    height: 117px;
    width: 150px;
}

.blog-img img {
    height: 100%;
    width: 100%;
}

.blog-info {
    margin-left: 16px;
}

.blog-info h3 {
    margin-bottom: 0 ;
    font-size: 20px;
}

.blog-info p {
    margin-top: 6px;
    color: #9F9F9F;
}

.blog-info a {
    text-decoration: none;
    color: #562EFF;
}

/* Courses Section CSS */

.courses-section {
    background-color: #ffff;
    margin-top: 21px;
}

.course-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.inner-course-details {
    width: 260px;
    height: 270px;
    padding: 10px;
    box-shadow: 1px 3px 5px rgba(180, 180, 180, 0.295) ;
}

.thamnail {
    height: 104px;
    width: 250px;
    margin: 0 auto;
}

.thamnail img {
    height: 100%;
    width: 100%;
}

.course-name h3{
    font-size: 20px;
    margin-bottom: 7px;
}

.course-name a {
    text-decoration: none;
    color:  #ED6B4F;
    font-size: 14px;
}

.course-info {
    margin-top: 10px;
} 

.fa-star {
    color: #AEAEAE;
}

.fa-star.filled {
    color: #FFC014;
}

.rating {
    font-size: 14px;
    color: #A2A2A2;
    margin-left: 6px;
    margin-right: 6px;
}

.fa-clock {
    background-color: #FEE5DF;
    padding: 10px 20px;
    border-radius: 15px;
    color: #FF4A60;
    font-size: 16px;
    font-weight: 500;

}